{% extends 'layout2.html' %}

{% block pageTitle %}
Welcome - Report a Fault - NHS
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="mailto:James.Green@dhsc.gov.uk">feedback</a>
                will
                help us to improve it.
            </span>
        </p>
    </div>
</div>

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quatrers">

        <h1 id="page_title" class=" nhsuk-u-margin-bottom-2">Welcome to Online Report a Fault</h1>

        <p class="nhsuk-heading-m nhsuk-!-margin-0 nhsuk-u-font-size-22 nhsuk-u-font-weight-normal">Thank you
            for
            choosing to report a building maintenance fault. This website will walk you through the steps
            to log the fault. It should take about two minutes, and once reported, we'll send you an email to
            confirm
            it's being resolved.
        </p>

        <p class="nhsuk-heading-m nhsuk-!-margin-0 nhsuk-u-font-size-22 nhsuk-u-font-weight-normal">You can do
            this from
            a smartphone, tablet or desktop computer. You can include a photo of the problem if
            reporting by smartphone or tablet.
        </p>

        <p class="nhsuk-heading-m nhsuk-!-margin-0 nhsuk-u-font-size-22 nhsuk-u-font-weight-normal">Things
            you'll need
            to know:</p>


        <p>The location of the fault<br>
            Your estimate of the urgency</p>

        <a href="dos-donts" class="nhsuk-button">
            Start
        </a>

    </div>

</div>
{% endblock %}