{% extends 'layout-acc.html' %}

{% block pageTitle %}
  Fault Operator Prototype v2
{% endblock %}


{% block content %}
<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper nhsuk-u-padding-bottom-4" id="maincontent" role="main">
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-back-link">

      <a class="nhsuk-back-link__link" href="/helpdesk/v2/faultlist">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true" height="24" width="24">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Back to fault list</a>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
      <div>
        <h3 class="nhsuk-heading-m">Report summary</h3>
      </div>
        

      <form>

        <div class="nhsuk-form-group">
      
          <fieldset class="nhsuk-fieldset">
      
            <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2">
            <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
      
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="cafm" name="contact" type="checkbox" value="cafm" aria-controls="conditional-contact-1" aria-expanded="false" data-checkbox-exclusive data-checkbox-exclusive-group="report-action">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Add CAFM reference
                </label>
              </div>
      
              <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">
      
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="cafmid">
                    Helpdesk reference ID
                  </label>
                  <input class="nhsuk-input" id="cafmid" name="email" type="text">
                </div>
    
                <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="comment">
                      Additional comment
                    </label>
                    <textarea class="nhsuk-textarea" id="comment" name="comment" rows="3" aria-describedby="example-hint"></textarea>
                  </div>
      
              </div>
      
    
            </div>
          </div>

            <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email" data-checkbox-exclusive-group="report-action">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                  Mark as duplicate
                </label>
              </div>
            </div>

            <div class="nhsuk-grid-column-one-third">
              <a class="nhsuk-button" data-module="nhsuk-button" href="/helpdesk/v2/firstupdate" draggable="false" role="button">
                Update status
              </a>
            </div>
          </fieldset>
      
        </div>
      
      </form>
      
    </div>
  </div>

    <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-two-thirds">

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Fault ID
            </dt>
            <dd class="nhsuk-summary-list__value">
              X0000165
            </dd>

          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Trust site
            </dt>
            <dd class="nhsuk-summary-list__value">
              Stella site
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Fault name
            </dt>
            <dd class="nhsuk-summary-list__value">
              Broken glass frame
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Detailed fault description
            </dt>
            <dd class="nhsuk-summary-list__value">
              The frame shattered when two puppes came running and bumped into the nurse's station and caused chaos and left everybody running
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Urgency rating
            </dt>
            <dd class="nhsuk-summary-list__value">
              <strong class="nhsuk-tag nhsuk-tag--orange">
                URGENT
              </strong>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Fault location
            </dt>
            <dd class="nhsuk-summary-list__value">
              PFI number: 000111898
              <br>
              Wing: Albert Wing
              <br>
              Floor: Ground
              <br>
              Door number:A87
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Possible risk of infection
            </dt>
            <dd class="nhsuk-summary-list__value">
              Yes, there is a risk of infection in the area
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Infection risk description
            </dt>
            <dd class="nhsuk-summary-list__value">
              Broken glass and blood everywhere does not sound like a fun party
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Personal Protective Equipment required
            </dt>
            <dd class="nhsuk-summary-list__value">
              Gloves and a hazmat suit
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Can be accessed anytime
            </dt>
            <dd class="nhsuk-summary-list__value">
              No, the fault is only available at specific times
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Possible risk of infection
            </dt>
            <dd class="nhsuk-summary-list__value">
              Yes, there is a possible risk of infection
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Detailed access description
            </dt>
            <dd class="nhsuk-summary-list__value">
              Every day at noon the doctors go on break, but on wednesdays they have wonder wednesdays and they order take out they have all never tried before and so the ffault can be accessed only on wednesday between 2am -4am
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Phone number for access
            </dt>
            <dd class="nhsuk-summary-list__value">
              07800005812
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Additional information
            </dt>
            <dd class="nhsuk-summary-list__value">
              Well, now that you mention it, I think I read something about glass ticklers and I think this fault being a broken frame could be an opening for them to access the hospital. Please act fast!!!
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Photos uploaded
            </dt>
            <dd class="nhsuk-summary-list__value">
              <a target="_blank" href="/helpdesk/v2/crack.jpg">
                <img src="/helpdesk/v2/crack.jpg" alt="fault-image">
              </a>
              <a target="_blank" href="/helpdesk/v2/image.jpg">
                <img src="/helpdesk/v2/image.jpg" alt="fault-image">
              </a>
              <a target="_blank" href="/helpdesk/v2/image2.jpg">
                <img src="/helpdesk/v2/image2.jpg" alt="fault-image">
              </a>
              <a target="_blank" href="/helpdesk/v2/window.jpg">
                <img src="/helpdesk/v2/window.jpg" alt="fault-image">
              </a>
              <a target="_blank" href="/helpdesk/v2/image3.jpg">
                <img src="/helpdesk/v2/image3.jpg" alt="fault-image">
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Reporter name
            </dt>
            <dd class="nhsuk-summary-list__value">
              James Calamari Julio Iglesias Madrid Edward V
            </dd>
          </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Reporter email
              </dt>
              <dd class="nhsuk-summary-list__value">
                jamescalioiglesiasmadrid@nhs.net
              </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Reporter phone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  078000078766
                </dd>
              </div>


              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date and time reported
                </dt>
                <dd class="nhsuk-summary-list__value">
                  12/31/2023, 09:37:07 AM
                </dd>
              </div>



          






        </dl>

      </div>
    </div>


  </div>
</div>



</main>
</div>

{% endblock %}