<form>

    <div class="nhsuk-form-group">
  
      <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
  
  
        <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="cafm" name="contact" type="checkbox" value="cafm" aria-controls="conditional-contact-1" aria-expanded="false">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
              Add CAFM reference
            </label>
          </div>
  
          <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">
  
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="cafmid">
                Helpdesk reference ID
              </label>
              <input class="nhsuk-input nhsuk-u-width-two-thirds" id="cafmid" name="email" type="text">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="comment">
                  Additional comment
                </label>
                <textarea class="nhsuk-textarea" id="comment" name="comment" rows="7" aria-describedby="example-hint"></textarea>
              </div>
  
          </div>
  

        </div>
      </fieldset>
  
    </div>
  
  </form>