{% extends 'layout-landing.html' %}

{% block pageTitle %}
HFR Prototype - Home
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">
    <h1>Report a fault</h1>
    <p>This service can be used by trusts with Private Finance Initiative (PFI) contracts to:</p>
    <ul>
      <li>report facility maintenance faults digitally</li>
      <li>manage fault records</li>
      <li>record communications with facilities management companies</li>
    </ul>

    <h2>Report faults</h2>

    <p>Any staff member with a valid hospital email address can use the fault reporting tool.
      <br>You do not need to create an account or sign in with a password.
    </p>
    <p>You can also add photos to your report to help engineers find the problem quickly.</p>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>If your trust is using this service, contact your operator for a link to start reporting faults.</p>
    </div>

    <h2>Manage reports and record communications in a dashboard</h2>
    <p>Trust facilities management staff can use our dashboard tool to:</p>
    <ul>
      <li>track how many reports are made and how quickly they are resolved</li>
      <li>record all communications with facilities management companies in one place.</li>
    </ul>

    <a class="nhsuk-button" href="../helpdesk" role="button" draggable="false">Sign in to your trust dashboard</a>

    <h2>Sign up</h2>
    <p>To join the Report a fault service, you need to:</p>
    <ul>
      <li>fill in
        <a href = "/landing/nhs-report-a-fault-sign-up-form.docx" download="nhs-report-a-fault-sign-up-form.docx">  
          this form (Word: 248KB) 
         </a>with your trust details</li> <!--File is located in "public > landing"-->
      <li>send the form to <a href="mailto:reportafault@dhsc.gov.uk">reportafault@dhsc.gov.uk</a> </li>
    </ul>
    
    <p>We’ll then send you all the details you need to start using this service.</p>

    <h2>Contact us</h2>
    <p>Email <a href="mailto:reportafault@dhsc.gov.uk">reportafault@dhsc.gov.uk</a> if you need help signing up or if you’re having problems accessing the service.
    </p>



    <!-- Add your content here -->

  </div>

</div>
{% endblock %}