{% extends 'layout.html' %}

{% block pageTitle %}
  Administrator Versions
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
  
      </ol>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">View administrator prototype versions below</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Version
            </th>
            <th role="columnheader" class="" scope="col">
              Date created
            </th>
            <th role="columnheader" class="" scope="col">
              Prototype Link
            </th>
            <th role="columnheader" class="" scope="col">
              What changed
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 1</td>
            <td class="nhsuk-table__cell ">23 October 2023</td>
            <td class="nhsuk-table__cell "><a href="/admin/v1" class="nhsuk-link nhsuk-link--no-visited-state">Link to version 1</a></td>
            <td class="nhsuk-table__cell ">Nothing - As is</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 2</td>
            <td class="nhsuk-table__cell ">14 March 2024</td>
            <td class="nhsuk-table__cell "><a href="/admin/v2" class="nhsuk-link nhsuk-link--no-visited-state">Link to version 2</a></td>
            <td class="nhsuk-table__cell ">Pages were split up to align with 1 thing per page guideline</td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">Version 3</td>
            <td class="nhsuk-table__cell ">Not yet</td>
            <td class="nhsuk-table__cell "><a href="#" class="nhsuk-link nhsuk-link--no-visited-state">Link to version 3</a></td>
            <td class="nhsuk-table__cell ">Not yet</td>
          </tr>
        </tbody>
      </table>

    </div>  

  </div>
{% endblock %}
