{% extends 'layout.html' %}

{% block pageTitle %}
  Report a Fault Prototype v4 (offline)
{% endblock %}

{% block header %}
{{ header({
  "service": {
      "name": "Report a Fault Prototype v4 (offline)",
      "href": " "
    },
    "showNav": "false",
    "showSearch": "false"
  })
}}
{% endblock %}

{% block beforeContent %} 
<div class="app-phase-banner  nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="nhsuk-body-s app-phase-banner__content nhsuk-u-margin-bottom-1">
        <strong class="nhsuk-tag app-phase-banner__tag">
          PROTOTYPE
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1">
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-back-link">

            <a class="nhsuk-back-link__link" href="/frontend/v4/lowurgency">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" height="24" width="24">
                <path
                  d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                </path>
              </svg>
              Go back</a>
          </div>

        <h1 class="nhsuk-heading-xl">Additional Information</h1>
        
      <!-- Add your content here -->
      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">
    
            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">

                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l  nhsuk-u-margin-bottom-2">
                    <h2 class="nhsuk-fieldset__heading--l  nhsuk-u-margin-bottom-1">
                      Is there a risk of infection?
                    </h2>
                  </legend>
                  <div class="nhsuk-hint" id="contact-hint">
                    Let us know if there is a risk of infection.
                  </div>
              
              
              
                  <div class="nhsuk-radios nhsuk-radios--conditional">
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                        Yes, there is a risk of infection in the area
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
              
                      <div class="nhsuk-form-group nhsuk-u-width-two-thirds">
                        <label class="nhsuk-label" for="example">
                          Please describe the infection risk
                        </label>
                        <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                      </div>
              
                      <div class="nhsuk-form-group nhsuk-u-width-two-thirds">
                        <label class="nhsuk-label" for="example">
                          What, if any PPE is needed?
                        </label>
                        <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                      </div>
              
              
                    </div>
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                        No, there is no risk of infection in the area.
                      </label>
                    </div>
              
              
              
                  </div>

                  <br>
                  <br>


                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l  nhsuk-u-margin-bottom-2">
                    <h2 class="nhsuk-fieldset__heading--l  nhsuk-u-margin-bottom-1">
                      Can this fault be accessed at any time?
                    </h2>
                  </legend>
                  <div class="nhsuk-hint" id="contact-hint">
                    Please tell us if the fault can be accessed any time or if it is only available at specific times.
                  </div>
              
              
              
                  
                  <div class="nhsuk-radios nhsuk-radios--conditional">
              

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="access-yes" name="access" type="radio" value="access-yes" aria-controls="conditional-access-1" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-radios__label" for="access-yes">
                        Yes, the fault can be accessed at any time
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="access-no" name="access" type="radio" value="access-no" aria-controls="conditional-access-2" aria-expanded="false">
                        <label class="nhsuk-label nhsuk-radios__label" for="access-no">
                          No, the fault is only available at specific times.
                        </label>
                      </div>
                
                      <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-access-2">
                
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="input-width-10">
                              Phone number (optional)
                            </label>
                            <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
                          </div>
                          
                
                        <div class="nhsuk-form-group nhsuk-u-width-two-thirds">
                          <label class="nhsuk-label" for="example">
                            When will access be available?
                          </label>
                          <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                        </div>
                
                
                      </div>
                
              
              
              
                  </div>

                  <br>
                  <br>

                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l  nhsuk-u-margin-bottom-2">
                    <h2 class="nhsuk-fieldset__heading--l  nhsuk-u-margin-bottom-1">
                      Optional extra information about the fault
                    </h2>
                  </legend>
                  <div class="nhsuk-hint" id="contact-hint">
                    You can add any other information we need to know about the fault. For example, you could include that:
                    <ul class="nhsuk-list nhsuk-list--bullet">
                      <li>the location is only open to males or females</li>
                      <li>the location is secure or sensitive</li>
                      <li>the fault is in a finance office with money</li>
                      <li>the fault is in a security office or somewhere valuables or restricted goods are held, for example, drugs or canisters of gas</li>
                    </ul>
                   </div>

                   <div class="nhsuk-form-group nhsuk-u-width-two-thirds">
                    
                    <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
                  </div>



                </fieldset>


                
              
              </div>
              
            
              
      </div>



    </div>  
    <a href="/frontend/v4/identity"><button class="nhsuk-button" data-module="nhsuk-button"
        type="button">Continue
    </button>
  </a>

    </div>  
  </div>
{% endblock %}
