{% extends 'layout.html' %}


{% block pageTitle %}
  Report a Fault Prototype v4
{% endblock %}



{% block beforeContent %} 
<div class="app-phase-banner  nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="nhsuk-body-s app-phase-banner__content nhsuk-u-margin-bottom-1">
        <strong class="nhsuk-tag app-phase-banner__tag">
          PROTOTYPE
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your feedback will help us improve it.
        </span>
      </p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1">
    </div> 
  </div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-back-link">

            <a class="nhsuk-back-link__link" href="/frontend/v4/faultkind">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" height="24" width="24">
                <path
                  d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                </path>
              </svg>
              Go back</a>
          </div>

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2"> <label>
          How urgent is the fault?
          </label></h1>
        <!--div class="nhsuk-hint" id="optional-field-hint">
            Estimate the fault priority.
          </div-->


      <!-- Add your content here -->
      <form action="/frontend/v4/priority" method="post">

        <div class="nhsuk-form-group">

          <div class="nhsuk-radios" id="fault-priority">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" name="fault-priority" type="radio" value="high">
              <label class="nhsuk-label nhsuk-radios__label" for="high">
                <strong class="nhsuk-tag nhsuk-tag--red">
                  EMERGENCY
                </strong>
                The fault is an emergency or health and safety issue.
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input"  name="fault-priority" type="radio" value="mid">
              <label class="nhsuk-label nhsuk-radios__label" for="mid">
                <strong class="nhsuk-tag nhsuk-tag--orange">
                  URGENT
                </strong>The fault is inconvenient and impacts service delivery.
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input"  name="fault-priority" type="radio" value="low">
              <label class="nhsuk-label nhsuk-radios__label" for="low">
                <strong class="nhsuk-tag nhsuk-tag--grey">
                  ROUTINE
                </strong>
                The fault does not impact service delivery.
              </label>
            </div>
      
          </div>
        </div>


       

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>

      </form>


    
    </div>  

  </div>
{% endblock %}
