{% extends 'layout-admin.html' %}

{% block pageTitle %}
Trust Administrator Prototype v2
{% endblock %}



{% block beforeContent %}
<div class="app-phase-banner  nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1">
    <div class="nhsuk-width-container app-phase-banner__container">
        <p class="nhsuk-body-s app-phase-banner__content nhsuk-u-margin-bottom-1">
            <strong class="nhsuk-tag app-phase-banner__tag">
                PROTOTYPE
            </strong>
            <span class="app-phase-banner__text">
                This is a prototype - your <a href="#">feedback</a> will help us improve it.
            </span>
        </p>
        <hr
            class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1">
    </div>
</div>
{% endblock %}


{% block outerContent %}
<div class="nhsuk-back-link">

    <a class="nhsuk-back-link__link" href="../edit/trust1">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" height="24" width="24">
            <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
        </svg>
        Go back</a>
</div>
{% endblock %}
<!--javascript:history.back()-->


{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-u-margin-bottom-3"><span class="nhsuk-caption-l">Edit trust</span>Which trust staff will get
            weekly or monthly summary reports? </h1>
        <p class="nhsuk-body">Enter email addresses for trust staff who will get weekly or monthly reports of the faults
            reported at the trust. For example, the trust helpdesk manager.</p>

        <div><!--Input fields-->
            <!--div class="nhsuk-form-group">
                <label class="nhsuk-label" for="three-quarters">
                    Name of trust
                </label>
                <input class="nhsuk-input nhsuk-u-width-three-quarters" id="three-quarters" name="three-quarters"
                    type="text">
            </div-->


            <form>

                <div class="nhsuk-form-group">

                    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                        <legend class="nhsuk-fieldset__legend">
                            <p class="nhsuk-fieldset__heading">
                                How often should reports be sent?
                            </p>
                        </legend>

                        <div class="nhsuk-hint" id="example-hint">
                            Select a frequency for fault report summaries.
                        </div>

                        <div class="nhsuk-checkboxes">

                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox"
                                    value="email">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                                    Weekly summary
                                </label>
                            </div>

                            <div class="nhsuk-checkboxes__item">
                                <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox"
                                    value="phone">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                                    Monthly summary
                                </label>
                            </div>


                        </div>
                    </fieldset>

                </div>

            </form>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="example-longer">
                    Email addresses
                </label>
                <div class="nhsuk-hint" id="example-longer-hint">
                    Add one address per line or separate the addresses with a comma.
                </div>
                <textarea class="nhsuk-textarea nhsuk-u-width-three-quarters" id="example-longer" name="example-longer"
                    rows="6" aria-describedby="example-longer-hint"></textarea>
            </div>
        </div>
        <a href="/admin/v2/edit/check"><button class="nhsuk-button" data-module="nhsuk-button" type="submit">Save
                changes
            </button>
        </a>

    </div>
</div>


{% endblock %}