{% extends 'layoutasis.html' %}

{% block pageTitle %}
  Report a Fault Prototype v1
{% endblock %}



{% block beforeContent %} 
<div class="app-phase-banner  nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="nhsuk-body-s app-phase-banner__content nhsuk-u-margin-bottom-1">
        <strong class="nhsuk-tag app-phase-banner__tag">
          PROTOTYPE
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1">
    </div>
  </div>
{% endblock %}

{% block content %}
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">Welcome to Online Fault Reporting</h1>
        <p class="nhsuk-body">Thank you for choosing to report a building maintenance fault. This website will walk you through the steps to log the fault. It should take about two minutes, and once reported, we'll send you an email to confirm it's being resolved.</p>
        <p class="nhsuk-body">You can do this from a smartphone, tablet or desktop computer. You can include a photo of the problem if reporting by smartphone or tablet.</p>
        <p class="nhsuk-body">This service is an additional option to calling the helpdesk, to make fault reporting more convenient while on the go.</p>

        <p class="nhsuk-body">Things you'll need to know:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
  <li>The location of the fault</li>
  <li>Your estimate of the urgency</li>
        </ul>
 
      <!-- Add your content here -->
    
      <a href="/frontend/v1/warning"><button class="nhsuk-button" data-module="nhsuk-button"
        type="button">Start
    </button>
  </a>
    </div>  
  </div>
{% endblock %}
