
{% extends "layout-cookies.html" %}

{% block content %}


<div style="background-color: #007f3b;"><div id="nhsuk-cookie-banner" data-nosnippet="true" role="region">
  <div class="nhsuk-cookie-banner" id="cookiebanner">

  <div class="nhsuk-success-banner" id="nhsuk-cookie-confirmation-banner" style="display:flex;">
    <div class="nhsuk-width-container">
      <p id="nhsuk-success-banner__message" style="color:white">You can change your cookie settings at any time using our <a class="nhsuk-link nhsuk-link--no-visited-state" style="color:white" id="change-cookie-settings" href="/cookiesdemo/details">cookies page</a>.</p>
    </div>
  </div>
</div>

{% endblock %}
