{% extends 'layout.html' %}

{% block pageTitle %}
  Report a Fault Prototype v3
{% endblock %}

{% block header %}
{{ header({
  "service": {
      "name": "Report a Fault Prototype v3",
      "href": " "
    },
    "showNav": "false",
    "showSearch": "false"
  })
}}
{% endblock %}

{% block beforeContent %} 
<div class="app-phase-banner  nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="nhsuk-body-s app-phase-banner__content nhsuk-u-margin-bottom-1">
        <strong class="nhsuk-tag app-phase-banner__tag">
          PROTOTYPE
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your feedback will help us improve it.
        </span>
      </p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1">
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-back-link">

            <a class="nhsuk-back-link__link" href="/frontend/v3/identity">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" height="24" width="24">
                <path
                  d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                </path>
              </svg>
              Go back</a>
          </div>

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">What you are about to report</h1>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
            <h3 class="nhsuk-heading-m">Please check the details of your report before sending it.</h3>
            </div>
        </div>
    
        <div class="nhsuk-grid-row">
    
          <div class="nhsuk-grid-column-full">
    
            <dl class="nhsuk-summary-list">
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Jane Foster
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Email
                </dt>
                <dd class="nhsuk-summary-list__value">
                  jane@nhs.net
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Phone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  73213 98763
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Building
                </dt>
                <dd class="nhsuk-summary-list__value">
                  John House
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Room number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  76
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Door number (find this on the top right side of the door)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Zone
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Location description
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Description
                </dt>
                <dd class="nhsuk-summary-list__value">
                  door fell on my head
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Urgency type
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Inconvenient
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Detailed fault description
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p>The door shook and rubmled and came crashing down violently and broke the person's head</p>
                </dd>
    
              </div>
    
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Additional information
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <p> - </p>
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Possible risk of infection
                </dt>
                <dd class="nhsuk-summary-list__value">
                  No
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Infection risk description
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Personal protective equipment required
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Access restricted
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Yes
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Access description
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Nurses Station
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Access contact
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
    
              </div>
    
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Photos
                </dt>
                <dd class="nhsuk-summary-list__value">
                  -
                </dd>
    
              </div>
    
            </dl>
    
          </div>
        </div>

        <p class="nhsukbody">You will receive a copy of this report.</p>

 

    <a href="/frontend/v3/end"><button class="nhsuk-button" data-module="nhsuk-button"
        type="button">Submit to helpdesk
    </button>
  </a>

    </div>  
  </div>
{% endblock %}
