{% extends 'layout2.html' %}

{% block pageTitle %}
Welcome - Report a Fault - NHS
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="mailto:James.Green@dhsc.gov.uk">feedback</a>
                will
                help us to improve it.
            </span>
        </p>
    </div>
</div>

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

        <main class="nhsuk-width-container ">

            <div class="nhsuk-width-container ">

                <div class="nhsuk-back-link nhsuk-u-margin-top-2">
                    <a class="nhsuk-back-link__link" href="javascript:history.go(-1)">
                        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                            <path
                                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                            </path>
                        </svg>
                        Back to Fault location</a>
                </div>

            </div>

            <div class="nhsuk-main-wrapper " id="maincontent">

                <form action="/trust/Nhs/dashboard" method="POST" name="dashboardForm" autocomplete="off"
                    novalidate="true" spellcheck="false">

                    <h1 id="page_title" class=" nhsuk-u-margin-bottom-2">Describe the fault</h1>

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-full">
                            <p>
                                Please use the fields below to describe the fault in as much detail as possible.</p>
                        </div>
                    </div>

                    <div class="nhsuk-grid-row">
                        <div class="nhsuk-grid-column-three-quarters">

                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label " for="search_faults_description"
                                    id="search_faults_description-label">
                                    Summarise the fault. For example "Leaking Pipe"
                                </label>
                                <input class="nhsuk-input nhsuk-input--width-30 " id="search_faults_description"
                                    name="search_faults_description" type="text" aria-required="false" maxlength="150">
                            </div>

                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label " for="fault_desc_notes" id="fault_desc_notes-label">
                                    Describe the fault in more detail
                                </label>
                                <textarea class="nhsuk-textarea nhsuk-input--width-30  " id="fault_desc_notes"
                                    name="fault_desc_notes" rows="5" aria-required="false" maxlength="1000"></textarea>
                            </div>



                            <h2 id="page_title" class=" nhsuk-u-margin-bottom-2">Priority</h2>

                            <p class="nhsuk-hint nhsuk-u-margin-bottom-2">How urgent would you deem this fault to be?
                            </p>

                            <div class="nhsuk-form-group">

                                <form method="post">

                                    <fieldset class="nhsuk-fieldset" id="urgencyType-fieldset">
                                        <legend class="nhsuk-fieldset__legend">

                                        </legend>

                                        <div class="nhsuk-radios  nhsuk-radios--inline nhsuk-u-!-font-weight-bold">

                                            <div class="nhsuk-radios__item">
                                                <input class="nhsuk-radios__input" id="urgencyType" name="urgencyType"
                                                    type="radio" value="high">
                                                <label class="nhsuk-label nhsuk-radios__label" for="urgencyType"
                                                    id="urgencyType-0-label">
                                                    This fault is a health and safety issue or an emergency for people
                                                    around it.
                                                    Or, the area is unavailable and unusable.
                                                </label>
                                            </div>


                                            <div class="nhsuk-radios__item">
                                                <input class="nhsuk-radios__input" id="urgencyType-1" name="urgencyType"
                                                    type="radio" value="medium">
                                                <label class="nhsuk-label nhsuk-radios__label" for="urgencyType-1"
                                                    id="urgencyType-1-label">
                                                    This fault is not a health and safety issue or an emergency for
                                                    people around
                                                    it, but is very inconvenient to the department.
                                                </label>
                                            </div>


                                            <div class="nhsuk-radios__item">
                                                <input class="nhsuk-radios__input" id="urgencyType-2" name="urgencyType"
                                                    type="radio" value="low">
                                                <label class="nhsuk-label nhsuk-radios__label" for="urgencyType-2"
                                                    id="urgencyType-2-label">
                                                    This fault is not a health and safety issue or an emergency for
                                                    people around
                                                    it, nor is it inconvenient to the department.
                                                </label>
                                            </div>

                                        </div>
                                    </fieldset>

                            </div>

                            <a href="urgency" class="nhsuk-button">
                                Continue
                            </a>
                </form>

            </div>
        </main>

    </div>

</div>
{% endblock %}