{% extends 'layout2.html' %}

{% block pageTitle %}
Welcome - Report a Fault - NHS
{% endblock %}

{% block beforeContent %}

<div class="nhsuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                This is a new service – your <a class="govuk-link" href="mailto:James.Green@dhsc.gov.uk">feedback</a>
                will
                help us to improve it.
            </span>
        </p>
    </div>
</div>

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

        <main class="nhsuk-width-container ">

            <div class="nhsuk-main-wrapper " id="maincontent">

                <h1 id="page_title" class=" nhsuk-u-margin-bottom-2">Thank you!</h1>

                <p class="nhsuk-heading-m nhsuk-!-margin-0 nhsuk-u-font-size-22 nhsuk-u-font-weight-normal">Your
                    report has been sent to the helpdesk. They will add it to their system, and you'll receive an
                    email once the fault has been allocated a job number.</p>

                <p class="nhsuk-heading-m nhsuk-!-margin-0 nhsuk-u-font-size-22 nhsuk-u-font-weight-normal">Thank
                    you for helping make the Trust a better place for everybody.</p>

                <a href="landing" class="nhsuk-button">
                    Continue
                </a>

            </div>
        </main>

    </div>

</div>
{% endblock %}