{% extends 'layout-acc.html' %}

{% block pageTitle %}
  Fault Operator Prototype V2
{% endblock %}


{% block beforeContent %} 
<div class="app-phase-banner  nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="nhsuk-body-s app-phase-banner__content nhsuk-u-margin-bottom-1">
        <strong class="nhsuk-tag app-phase-banner__tag">
          PROTOTYPE
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1">
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper nhsuk-u-padding-bottom-4" id="maincontent" role="main">
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-back-link">

            <a class="nhsuk-back-link__link" href="/helpdesk/v4">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" height="24" width="24">
                <path
                  d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                </path>
              </svg>
              Back to Trusts</a>
          </div>
          <h1 class="nhsuk-heading-xl">Her Majesty's Hospital of Blessed Souls</h1><!--This is pulled dynamically based on the defined trust name-->
          
        </div>
      </div>
      
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <a href="#"><button class="nhsuk-button nhsuk-u-margin-bottom-2" data-module="nhsuk-button" type="submit">
            Refresh
          </button></a>


    </div>  

  </div>
  </main>
  </div>
  <!--Close of grid column-->
  
  <div class="nhsuk-u-margin-left-9 nhsuk-u-margin-right-9">
  <div class="nhsuk-form-group nhsuk-u-margin-left-9 nhsuk-u-margin-right-9 nhsuk-u-margin-bottom-4"><!--This is for the filters-->
    <div class="nhsuk-grid-column-one-quarter nhsuk-u-margin-top-5 nhsuk-u-padding-left-0"><!--Seach bar-->
    <form class="nhsuk-header__search-form"  style="max-width:270px" id="search" action="#" method="get" role="search">
      <label class="nhsuk-u-visually-hidden" for="search-field">Search the reported faults</label>
      <input class="nhsuk-search__input nhsuk-u-width-three-quarters" id="search-field" name="search-field" type="search" placeholder="Search" autocomplete="off">
      <button class="nhsuk-search__submit" type="submit">
        <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
        </svg>
        <span class="nhsuk-u-visually-hidden">Search</span>
      </button>
    </form>
    </div>
    <div class="nhsuk-grid-column-one-half"><!-- Select set-->
      <div class="nhsuk-form-group nhsuk-grid-column-one-third nhsuk-u-padding-left-1 nhsuk-u-padding-right-1 nhsuk-u-margin-bottom-0"><!--Sites are dynamically populated based on info entered on the administrator side-->
        <label class="nhsuk-label" for="select-1">
          Trust site
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1" selected>All sites</option>
          <option value="2" >Stella site</option>
          <option value="3" >Applebee site</option>
        </select>
      </div>
      <div class="nhsuk-form-group nhsuk-grid-column-one-third nhsuk-u-padding-left-1 nhsuk-u-padding-right-1 nhsuk-u-margin-bottom-0"><!--Reporters are not defined on administrator side, only allowed domains, so this info comes from the frontend journey when the form asks for "Trust email"-->
        <label class="nhsuk-label" for="select-1">
          Fault reporter
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1" selected>All reporters</option>
          <option value="2" >Corti Kostroyd</option>
          <option value="3" >Inga Yetti</option>
          <option value="4" >John Weasely</option>
        </select>
      </div>
      <div class="nhsuk-form-group nhsuk-grid-column-one-third nhsuk-u-padding-left-1 nhsuk-u-padding-right-1 nhsuk-u-margin-bottom-0"><!--Fault status are defined by the PFI, If helpdesk reference has been added, it is open, if it has not been added, it pending, if it has been resolved it is closed-->
        <label class="nhsuk-label" for="select-1">
          Fault status
        </label>
        <select class="nhsuk-select" id="select-1" name="select-1">
          <option value="1" selected>All faults</option>
          <option value="2" >Open</option>
          <option value="3" >Closed</option>
          <option value="4" >Pending</option>
        </select>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-quarter"><!--Date pickers-->
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="example">
          Dates
        </label>
        <input class="nhsuk-input" id="example" name="example" type="text">
      </div>

    </div>

    <div style="float:right" class="nhsuk-u-margin-bottom-9 nhsuk-u-margin-top-4">
      <a href="/helpdesk/v4/faultlist" class="nhsuk-link nhsuk-link--no-visited-state">Reset filters</a>
    </div>
  </div>



  <div class="nhsuk-form-group nhsuk-table__head nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-7 nhsuk-u-padding-left-9 nhsuk-u-padding-right-9"><!--This is for the table-->
    <table role="table" class="nhsuk-table-responsive">
      <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Reported faults</caption>
      <thead role="rowgroup" >
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Fault ID
          </th>
          <th role="columnheader" class="" scope="col">
            Site name
          </th>
          <th role="columnheader" class="" scope="col">
            Fault name
          </th>
          <th role="columnheader" class="" scope="col">
            Fault location
          </th>
          <th role="columnheader" class="" scope="col">
            Date and time
          </th>
          <th role="columnheader" class="" scope="col">
            Status
          </th>
          <th role="columnheader" class="" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000165
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Stella site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Broken glass frame
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>X678, Angel Wing
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/01/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">
              PENDING
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="/helpdesk/v4/pendingreport">Review fault</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000164
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Applebee site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Faulty door
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>First floor, Cafeteria
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/01/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--yellow">
              OPEN
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="/helpdesk/v4/report">Review fault</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000165
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Stella site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Leaky pipe
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>Room 2, Angel Wing
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/02/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--green">
              CLOSED
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="#">Review fault</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000164
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Applebee site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Faulty door
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>First floor, Cafeteria
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/01/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--yellow">
              OPEN
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="/helpdesk/v4/report">Review fault</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000165
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Stella site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Broken glass frame
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>X678, Angel Wing
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/01/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">
              PENDING
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="/helpdesk/v4/pendingreport">Review fault</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000165
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Stella site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Broken glass frame
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>X678, Angel Wing
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/01/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--grey">
              PENDING
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="/helpdesk/v4/pendingreport">Review fault</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000164
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Applebee site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Faulty door
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>First floor, Cafeteria
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/01/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--yellow">
              OPEN
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="/helpdesk/v4/report">Review fault</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000165
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Stella site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Leaky pipe
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>Room 2, Angel Wing
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/02/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--green">
              CLOSED
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="/helpdesk/v4/report">Review fault</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000165
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Stella site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Leaky pipe
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>Room 2, Angel Wing
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/02/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--green">
              CLOSED
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="/helpdesk/v4/report">Review fault</a>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault ID </span>X0000165
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Site name </span>Stella site
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault summary</span>Leaky pipe
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Fault location </span>Room 2, Angel Wing
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Date and time </span>12/02/2024, 09:37 AM 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span><strong class="nhsuk-tag nhsuk-tag--green">
              CLOSED
            </strong>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span><a href="/helpdesk/v4/report">Review fault</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

      
{% endblock %}